<div class="container_12">
	<div class="grid_12">
		<h1 class="center"></h1>
		
		<ul class="products">
		<% @products.each do |product| %>
		    <li>
		    	<div class="product-image">
		    	<% if product.image? %>
		        	<%= link_to image_tag(product.image_url(:thumb)), product %>
		        <% else %>
		        	<%= link_to image_tag('noimage.png'), product %>
		        <% end %>
		        </div>
		        <%= link_to product.title, product, class: "title" %>
		    	<p class="price"><%= number_to_currency(product.price, :unit => "грн.", :separator => ",", :delimiter => "", :format => "%n %u") %></p>
		    	<p class="shortdescr"><%= product.shortdescription %></p>
		    	<%= button_to "Добавить в корзину", line_items_path(product_id: product), class: "indexadd" %>
		    </li>
		<% end %>
		</ul>
	</div>
</div>