<!DOCTYPE html>
<html>
<head>
  <title>Optilens.com.ua | Интернет-магазин контактных линз</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
  <% end %>
</head>
<body>
	
		<%= render '/layouts/header'%>
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<%= yield %>
		<div class="clear" style="padding-top: 10px;"></div>
		<div class="footer">
			<div class="container_12">
				2012 © Интернет-магазин контактных линз Optilens.com.ua. Сделано с любовью в <%= link_to "Everlabs.net", "http://everlabs.net" %>.
			</div>
		</div>
	
</body>
</html>
